<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">

        @if (produits.length > 0) {
          <thead>
          <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Date de création</th>
            @if (authService.isAdmin()) {
            <th>Actions</th> }
          </tr>
          </thead>
        }

        <tbody>
          @for (
              prod of produits;
            track prod.idProduit;
            let index = $index
            ) {
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ prod.idProduit }}</td>
              <td>{{ prod.nomProduit }}</td>
              <td>{{ prod.prixProduit }} €</td>
              <td>{{ prod.categorie?.nomCat }}</td>
              <td>{{ prod.dateCreation | date: 'dd/MM/yyyy' }}</td>
              @if (authService.isAdmin()) {
                <td>
                  <a class="btn btn-danger btn-sm me-2" (click)="supprimerProduit(prod)">Supprimer</a>
                  <a class="btn btn-success btn-sm" [routerLink]="['/update-produit', prod.idProduit]">Modifier</a>
                </td>
              }



            </tr>
          } @empty {
            <tr>
              <td colspan="7" class="text-center">
                <h4>Aucun produit trouvé</h4>
              </td>
            </tr>
          }
        </tbody>

      </table>
    </div>
  </div>
</div>
