<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <form [formGroup]="myForm" (ngSubmit)="onRegister()">

        @if (err) {
          <div class="alert alert-danger">
            <strong>{{err}}</strong>
          </div>
        }

        <div class="form-group">
          <label>Nom Utilisateur :</label>
          <input type="text" class="form-control" formControlName="username">
          <span *ngIf="myForm.get('username')?.touched && myForm.get('username')?.hasError('required')" class="text-danger">
            Nom Utilisateur est obligatoire
          </span>
        </div>

        <div class="form-group">
          <label>Email :</label>
          <input type="email" class="form-control" formControlName="email">
          <span *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('required')" class="text-danger">
            Email est obligatoire
          </span>
          <span *ngIf="myForm.get('email')?.touched && myForm.get('email')?.hasError('email')" class="text-danger">
            Email non valide
          </span>
        </div>

        <div class="form-group">
          <label>Mot de passe :</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('required')" class="text-danger">
            Mot de passe est obligatoire
          </span>
          <span *ngIf="myForm.get('password')?.touched && myForm.get('password')?.hasError('minlength')" class="text-danger">
            Mot de passe doit contenir au moins 6 caractères
          </span>
        </div>

        <div class="form-group">
          <label>Confirmer Mot de passe :</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span *ngIf="myForm.get('confirmPassword')?.touched && myForm.get('confirmPassword')?.hasError('required')" class="text-danger">
            Confirmer mot de passe est obligatoire
          </span>
          <span *ngIf="myForm.get('confirmPassword')?.touched && myForm.get('confirmPassword')?.value !== myForm.get('password')?.value" class="text-danger">
            Le mot de passe confirmé ne correspond pas au mot de passe tapé
          </span>
        </div>

        @if(loading){
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        }

        <button type="submit" [disabled]="myForm.invalid" class="btn btn-success mt-3">S'inscrire</button>
        <p>Vous avez un compte ? <a routerLink="/login">Se connecter</a></p>
      </form>
    </div>
  </div>
</div>
